
.box {
    border: 2px solid gray;
    width: 90%;
    margin: 10px auto;
}

.box section{
    width: 32%;
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    min-height: 100px;
    font-family: Helvetica;
    font-size: 16px;
    padding: 5.65px;
}

h2{
    text-align: center;
    font-size: 38px;
    font-family: Oswald;
    text-decoration: underline;
}

.yellow{
    background-color: #F4D03F;
}

.gray{
    background-color: #B2BABB;
}

.green{
    background-color: #76D7C4;
}

.black{
    background-color: #212F3D;
}

.white_text{
    color: white;
}

.black_text{
    color: black;
}

#fraunces{
    font-family: 'Fraunces', serif;
}

#oswald{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 9.45px;
}

#sansita{
    font-family: 'Sansita Swashed', cursive;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

#h1_style{
    font-weight: 700;
    font-size: 26px;
    font-family: "Sansita Swashed";
}

#h2_style{
    font-weight: 500;
    font-size: 18px;
    font-family: Oswald;
    text-align: left;
    text-decoration: none;
}

.left{
    position: relative;
    left: 25px;
}